* {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
}

#category {
  display: none;
}

#apple {
  display: block;
}

#appleContainer {
  display: none;
}

#animalContainer {
  display: none;
}