* {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
}

#apple {
  display: block;
}

#appleAns {
  display: none;
}

#rabbit {
  width: 300px;
  display: block;
}

#rabbitAns {
  display: none;
}